
<h2>Students</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>StudentId</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>PhoneNum</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Students)
        {
        <tr>
            <th scope="row">@item.StudentId</th>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            <td>@item.PhoneNum</td>
        </tr>
        }



    </tbody>

    </table>

   


